<% include ./partials/header %>
    <br>
    <h2>About the web and the developer</h2>
    <br>
    <h3>Hi, thanks for visiting Austin Secondhand Web! This is Yulin Shi. 
        I am an engineer at ARM (a chip company) developing tools/scripts for internal team to improve work efficiency.
    <br>
    <br>
    This web is developed after I learned web development from <em>The Web Developer Bootcamp</em>, Udemy. 
    It is an acadamic project so all the posted items in this web is <strong>not</strong> for real sale (don't be sad :D).
    <br>
    <br>
    Feel free to contact me if you have any suggestions/questions.
    <br>
    <br>
    Email: yulins@umich.edu
    <br>
    Linkedin: <a href="https://www.linkedin.com/in/yulin-shi/">link</a>
    </h3>
<% include ./partials/footer %>