<% include ./partials/header %>
    <br>
    <h2>About web and developer</h2>
    <br>
    <h3>Hi, thanks for visiting Austin Secondhand Web! This is Yulin Shi. I am a hardware engineer at ARM (Austin) and like software and programming.
    <br>
    <br>
    This web is developed after I learned web development from <em>The Web Developer Bootcamp</em>, Udemy. 
    It is an acadamic project so all the posted items in this web is <strong>not</strong> for real sale (don't be sad :D).
    <br>
    <br>
    Feel free to contact me if you have any suggestions/questions.
    <br>
    <br>
    Email: yulins@umich.edu
    <br>
    Linkedin: <a href="https://www.linkedin.com/in/yulin-shi-608591a4">link</a>
    </h3>
<% include ./partials/footer %>